name: Check PR Test

on:
  pull_request:
    branches:
      - master
jobs:
  install-dependencies:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno-version: [1.37.0]

    steps:
      - name: Git Checkout Deno Module
        uses: actions/checkout@v2
      - name: Use Deno Version ${{ matrix.deno-version }}
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Lint Deno Module
        run: deno fmt --check
      - name: Test Deno Module
        run: deno task test
