name: Test GitHub Profile Trophy Action
on: [push, pull_request, workflow_dispatch]

jobs:
  test-trophy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      - name: Test Action
        id: trophy
        uses: ./.
        with:
          username: ${{ github.repository_owner }}
          output_path: ./trophy.svg
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Verify SVG generated
        run: |
          if [ -f trophy.svg ]; then
            echo "SVG exsists ($(wc -c < trophy.svg) Bytes)"
            file trophy.svg
          else
            echo "SVG failed to generate"
            exit 1
          fi
